@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
    color: #A10000;
    font-size: 28px;
}

.headerbox { /*Grey box*/
    background-color: #EBEBEB;
    padding: 16px;/*Space around text*/
}

h2 { /*Section headings(Ingredienser, Så här gör du, Serveringsförslag)*/
    font-size: 24px;
}

ul,
ol {
    line-height: 1.6;
    padding-left: 1.3rem; /*Indent*/
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #a100004d;
    margin: 0;
    padding: 0 0 3rem 0; /*top right bottom left*/
    max-width: 2000px;
}

.recipe {
    background-color: #fcfcfc;
    max-width: 1280px;
    margin: 0 auto;
}

.header-image {
    min-height: 500px; /*Required minimum*/
    width: 100%; /*match .recipe*/
    object-fit: cover; /*Prevents distortion*/
}

.content-wrapper {
    padding: 0 2rem 2rem 2rem; /*top right bottom left*/
}

.footerimages {
    display: grid;
    grid-template-columns: 1fr 1fr; /*2 equal columns*/
    gap: 24px; /*(604-580)*/
}

.footerimages img {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover; /*Prevents distortion*/
}